<br><br><br><br>

<div class="container">
 <div class="container-fluid" style=" margin: auto;border:1px solid #cecece;">

<div class="row">
  <div class="col-xs-12">
  <div style="text-align:center;margin-left:100px;margin-right:100px">
  <h1>Thanks for Buying Our Products!</h1>
  <pre style="font-size:20px">Please send your transfer note to us for next transaction
  and dont forget to fill order number in description on confirmation payment</pre>
  </div>
  </div>
  
  
  <div class="col-xs-6">
  <div style="text-align:center;margin-bottom:70px">
  <h3>Bank Rakyat Indonesia</h3>
  <h3>1234 - 5678 - 9123 - 4567</h3>
  <h3>a.n Informatic Shop</h3>
  </div>
  </div>
  <div class="col-xs-6">
   <div style="text-align:center">
 <h3>Bank Mandiri</h3>
  <h3>6351- 333 - 3331</h3>
  <h3>a.n Informatic Shop</h3>
  </div>
  </div>
    <div class="col-xs-12">
   <div style="text-align:center;margin-bottom:10px">
 <button type="button" class="btn btn-primary">Your Order</button>
  </div>
  </div>
  
</div>
</div>

 </div>